@model AlbumViewerModel
@{
    Layout = "~/Views/Shared/GeneralLayout.cshtml";

}
<h1>Album</h1>
@foreach (var photo in Model.poze)
{<div class="imagine">
        <img src="@Url.Action("Download","Photos",new {id=photo.Id })" height="40em" />
        <p>@photo.Description</p>
        @if (Model.HasThisAlbum)
        {
            @Html.ActionLink("Make this your profile picture", "MakeProfilePhoto", "Profile", new { photoId = photo.Id }, new { @class = "needConfirmation" })
            @Html.ActionLink("Delete this photo", "DeletePhoto", "Profile", new { photoId = photo, albumId = Model.Id }, new { @class = "needConfirmation" })
            <input type="text" class="description" />
            <button class="changeDescription" data-photoid=@photo.Id>Save</button>
        }
    </div>
}
@if (Model.HasThisAlbum)
{
    @Html.Partial("PartialAddPhoto", Model.PhotoModel)
    <script src="~/js/Description.js"></script>
}

@if (Model.HasThisAlbum)
{
<script id="image-template" type="text/x-handlebars-template">

    <div class="imagine">
        <img src="/Photos/Download/{{id}}" height="40" />
        <p>{{description}}</p>
        <div class="photoActions">
            <a class="needConfirmation" href="/Profile/MakeProfilePicture?photoId={{id}}">Make this your profile picture</a>
            <a class="needConfirmation" href="/Profile/FeletePhoto?photoId={{id}}&albumId={{albumId}}">Delete this photo</a>
            <input type="text" class="description" />
            <button class="changeDescription" data-photoid="{{id}}">Save</button>
        </div>

    </div>

</script>
}
else
{
<script id="image-template" type="text/x-handlebars-template">

    <div class="imagine">
        <img src="/Photos/Download/{{id}}" height="40" />
        <p>{{description}}</p>


    </div>

</script>
}