@model ProfileViewerModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
}

<h1>Index</h1>

<div>


    @if (currentUser.ProfilePhoto.HasValue)
    {
        <a href="@Url.Action("Download", "Photos", new { id = currentUser.ProfilePhoto })" data-lightbox="pozaprofil">
            <img src="@Url.Action("Download", "Photos", new { id = currentUser.ProfilePhoto })" height="100" />
        </a>
    }
    else
    {
<a href="/images/DefaultProfile.png" data-lightbox="pozaprofil">
    <img src="/images/DefaultProfile.png" height="100" />
</a>
            }

    </div>

<div class="container jumbotron">
    <ul class="nav nav-tabs nav-justified">
        <li class="active nav-item"><a data-toggle="tab" href="#contactDiv">Contact Information </a> </li>
        <li class="nav-item"><a data-toggle="tab" href="#interestsDiv">Likes and Interests</a></li>
        <li class="nav-item"><a data-toggle="tab" href="#albumsDiv">Albums</a></li>
    </ul>

    <div class="tab-content">

        <div id="contactDiv" class=" tab-pane fade show active">
            <div class="container-fluid">
                <h2>Contact information</h2>

                <div class="row">
                    <div class="col-6">
                        <h5>First Name  &nbsp;&nbsp; @currentUser.Name</h5>
                        <h5>Last Name  &nbsp;&nbsp; @currentUser.Surname</h5>
                        <h5>Birthday  &nbsp;&nbsp; @Model.Birthday</h5>
                    </div>
                    <div class="col-6">
                        @if (currentUser.Locality != null)
{
                            <h5>Locality  &nbsp;&nbsp; @currentUser.Locality.Name</h5>
                            <h5>County  &nbsp;&nbsp; @currentUser.Locality.County.Name</h5>
}
                        <h5>Gender  &nbsp;&nbsp; @currentUser.SexualIdentity</h5>
                    </div>
                </div>
            </div>
        </div>

        <div id="interestsDiv" class="tab-pane fade">
            <h2>Likes and interests</h2>
            <div class="container-fluid">
                <div class="row">
                    @{int row = 0;}

                    <div class="col-4">
                        @foreach (var interest in Model.Interests)
                        {
                              if (row % 3 == 0)
                              {
                                <p>@interest</p>
                              }
                              row++;
                        }
                    </div>
                    @{row = 0;}
                    <div class="col-4">
                        @foreach (var interest in Model.Interests)
                        {
                            if (row % 3 == 1)
                            {
                                <p>@interest</p>
                            }
                            row++;
                        }
                    </div>
                    @{row = 0; }
                    <div class="col-4">
                        @foreach (var interest in Model.Interests)
                        {
                            if (row % 3 == 2)
                            {
                            <p>@interest</p>
                            }
                            row++;
                        }
                    </div>
                </div>
             </div>

        </div>

        <div id="albumsDiv" class="tab-pane fade">
            <h2>Albums</h2>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-4">
                        @{ row = 0;}
                        @foreach (var album in Model.Album)
                        {
                            @if (row % 3 == 0)
                            {
                                <div>
                                    <h5>@album.Name</h5>

                                    <div class="poze" data-id="@album.Id">
                                        @if (album.CoverPhoto == -1)
                                        {
                                            <img src="~/images/genericAlbumCoverPhoto.jpg" height="40em" />
                                        }
                                        else
                                        {
                                            <img src="@Url.Action("Download", "Photos", new { id = album.CoverPhoto })" height="40em" />
                                        }
                                    </div>
                                    <h6>@album.Count</h6>
                                </div>
                            }
                            row++;
                        }
                    </div>
                    <div class="col-4">
                        @{ row = 0;}
                        @foreach (var album in Model.Album)
                        {
                            @if (row % 3 == 1)
                            {
                                <div>
                                    <h5>@album.Name</h5>

                                    <div class="poze" data-id="@album.Id">
                                        @if (album.CoverPhoto == -1)
                                        {
                                            <img src="~/images/genericAlbumCoverPhoto.jpg" height="40em" />
                                        }
                                        else
                                        {
                                            <img src="@Url.Action("Download", "Photos", new { id = album.CoverPhoto })" height="40em" />
                                        }
                                    </div>
                                    <h6>@album.Count</h6>
                                </div>
                            }
                            row++;
                        }
                    </div>
                    <div class="col-4">
                        @{ row = 0;}
                        @foreach (var album in Model.Album)
                        {
                            @if (row % 3 == 2)
                            {
                                <div>
                                    <h5>@album.Name</h5>

                                    <div class="poze" data-id="@album.Id">
                                        @if (album.CoverPhoto == -1)
                                        {
                                            <img src="~/images/genericAlbumCoverPhoto.jpg" height="40em" />
                                        }
                                        else
                                        {
                                            <img src="@Url.Action("Download", "Photos", new { id = album.CoverPhoto })" height="40em" />
                                        }
                                    </div>
                                    <h6>@album.Count</h6>
                                </div>
                            }
                            row++;
                        }
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

<div id="postBody">

</div>
<button id="postGetter" data-user="@currentUser.Id">Load more posts</button>
<script id="comment-template" type="text/x-handlebars-template">

    <div class="comment">
        <div class="profilComment">
            <a class="linkProfilComment" href="/Profile/Profile?userId={{userId}}">
                <p>{{userName}}</p>
                {{#if profilePhoto}}
                <img src="/Photos/Download/{{profilePhoto}}" height="50" style="float:left" />
                {{else}}
                <img src="~/images/DefaultProfile.png" height="50" style="float:left" />
                {{/if}}
            </a>

        </div>
        <p>{{text}}</p>
        {{#if isMine}}
        <button id="deleteComment{{id}}" class="btn buttonDeleteComment btn-danger btn-sm" data-comment="{{id}}">Delete this comment</button>
        {{/if}}
    </div>
    <br />

</script>


<script id="post-template" type="text/x-handlebars-template">
    <div class="post">
        <div class="bodyPostare">
            <a class="linkProfilPostare" href="/Profile/Profile?userId={{userId}}">
                <span>{{userName}}</span>
                <br />
                {{#if profilePhoto}}
                <img class="pozaProfilPostare" src="/Photos/Download/{{profilePhoto}}" height="75" />
                {{else}}
                <img class="pozaProfilPostare" src="images/DefaultProfile.png" height="75" />
                {{/if}}

            </a>
        </div>
        <br />
        <br />
        <p>{{text}}</p>
        <br />
        {{#each photoId}}
        <img src="/Photos/Download/{{this}}" height="50" />
        <br />
        {{/each}}
        <br />
        <div id="commentBody{{id}}">

        </div>
        <button id="commentGetter{{id}}" data-post="{{id}}">Load more comments</button>

        <a id="like{{id}}" data-post="{{id}}">
            {{#if liked}}
            <img src="images/Liked.png" height="20" />
            {{else}}
            <img src="images/notLiked.png" height="20" />
            {{/if}}
        </a>
        <p class="reactionCounter">{{noReactions}}</p>
        <input type="text" class="addComment form-control" />
        <button id="commentAdd{{id}}" class="btn buttonComment " data-post="{{id}}">Comment</button>
    </div>

</script>

<script src="~/js/Carousel.js"></script>
<script src="~/js/Profile.js"></script>