@inject  Services.CurrentUser currentUser
@inject  Services.InterestsUsers.InterestsUsersService interestService
@inject  Services.Album.AlbumService albumService
@*@model Domain.Users*@
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
}

<h1>Index</h1>

<div >
    <img  src="@Url.Action("Download","Photos",currentUser.ProfilePhoto)" />

</div>

<div>
    <h2>Contact information</h2>

    <h5>First Name  &nbsp;&nbsp; @currentUser.Name</h5>
    <h5>Last Name  &nbsp;&nbsp; @currentUser.Surname</h5>
    <h5>Birthday  &nbsp;&nbsp; @currentUser.BirthDay.Year . @currentUser.BirthDay.Month . @currentUser.BirthDay.Day</h5>
    @if (currentUser.Locality != null)
    {
    <h5>Locality  &nbsp;&nbsp; @currentUser.Locality.Name</h5>
    <h5>County  &nbsp;&nbsp; @currentUser.Locality.County.Name</h5>
    }
    <h5>Gender  &nbsp;&nbsp; @currentUser.SexualIdentity</h5>
</div>

<div>
    <h2>Likes and interests</h2>
    @foreach(var interest in interestService.GetAllInterests(currentUser.Id))
    {
        <p>@interest.Name</p>
    }

</div>

<div>
    <h2>Albums</h2>
    @foreach(var album in albumService.getAll(currentUser.Id))
    {
        <div>
            <h5>@album.Name</h5>
            <h6>@album.Photo.Count</h6>
        </div>
    }

</div>