@model ProfileViewerModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
}

<h1>Index</h1>

<div>
    <img src="@Url.Action("Download","Photos",new { id=currentUser.ProfilePhoto })" />
    <a href="@Url.Action("Download","Photos",new { id=currentUser.ProfilePhoto })" data-lightbox="pozaprofil"></a>
</div>

<div>
    <h2>Contact information</h2>

    <h5>First Name  &nbsp;&nbsp; @currentUser.Name</h5>
    <h5>Last Name  &nbsp;&nbsp; @currentUser.Surname</h5>
    <h5>Birthday  &nbsp;&nbsp; @currentUser.BirthDay.Year . @currentUser.BirthDay.Month . @currentUser.BirthDay.Day</h5>
    @if (currentUser.Locality != null)
    {
        <h5>Locality  &nbsp;&nbsp; @currentUser.Locality.Name</h5>
        <h5>County  &nbsp;&nbsp; @currentUser.Locality.County.Name</h5>
    }
    <h5>Gender  &nbsp;&nbsp; @currentUser.SexualIdentity</h5>
</div>

<div>
    <h2>Likes and interests</h2>
    @foreach (var interest in Model.Interests)
    {
        <p>@interest</p>
    }

</div>

<div>
    <h2>Albums</h2>
    @foreach (var album in Model.Album)
    {
        <div>
            <h5>@album.Name</h5>
            
            <div class="poze" data-id="@album.Id">
                @if (album.CoverPhoto == -1)
                {
                    <img src="~/images/genericAlbumCoverPhoto.jpg" height="40em" />
                }
                else
                {
                    <img src="@Url.Action("Download","Photos",new {id=album.CoverPhoto })" height="40em" />
                }
            </div>
            <h6>@album.Count</h6>
        </div>
    }

    @Html.Partial("PartialAddAlbum", Model.AddAlbumModel)
</div>
<script src="~/js/Carousel.js"></script>