@model ProfileViewerModel
@{
    ViewData["Title"] = Model.Name+" "+Model.Surname;
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
}

<div>
    <div>


        @if (Model.PhotoId.HasValue)
        {
            <a href="@Url.Action("Download", "Photos", new { id = Model.PhotoId })" data-lightbox="pozaprofil">
                <img src="@Url.Action("Download", "Photos", new { id = Model.PhotoId })" height="100" />
            </a>
        }
        else
        {
            <a href="/images/DefaultProfile.png" data-lightbox="pozaprofil">
                <img src="/images/DefaultProfile.png" height="100" />
            </a>
        }

    </div>
    @if (Model.IsRequested)
    {
        @Html.ActionLink(
      linkText: "Accept",
      actionName: "Accept",
      controllerName: "Profile",
      routeValues:
      new { id = Model.Id },
      htmlAttributes: null);

        @Html.ActionLink(
      linkText: "Refuse",
      actionName: "Refuse",
      controllerName: "Profile",
      routeValues:
      new { id = Model.Id },
      htmlAttributes: null);
    }
    @if (Model.CanSendRequest)
    {
        @Html.ActionLink(
            linkText: "Send Friend Request",
            actionName: "Send",
            controllerName: "Profile",
            routeValues:
            new { id = Model.Id },
            htmlAttributes: null);
    }


</div>

@if (Model.CanSee)
{
    <div id="currentUserInfo" hidden data-profile="@currentUser.ProfilePhoto" data-name="@currentUser.Name @currentUser.Surname" data-userid="@currentUser.Id"></div>


    <div class="container jumbotron">
        <ul class="nav nav-tabs nav-justified">
            <li class="active nav-item"><a data-toggle="tab" href="#contactDiv">Contact Information </a> </li>
            <li class="nav-item"><a data-toggle="tab" href="#interestsDiv">Likes and Interests</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#albumsDiv">Albums</a></li>
        </ul>

        <div class="tab-content">

            <div id="contactDiv" class=" tab-pane fade show active">
                <div class="container-fluid">
                    <h2>Contact information</h2>

                    <div class="row">
                        <div class="col-6">
                            <h5>First Name  &nbsp;&nbsp; @Model.Name</h5>
                            <h5>Last Name  &nbsp;&nbsp; @Model.Surname</h5>
                            <h5>Birthday  &nbsp;&nbsp; @Model.Birthday</h5>
                        </div>
                        <div class="col-6">
                            @if (Model.Locality != null)
                            {
                                <h5>Locality  &nbsp;&nbsp; @Model.Locality</h5>
                                <h5>County  &nbsp;&nbsp; @Model.County</h5>
                            }
                            <h5>Gender  &nbsp;&nbsp; @Model.SexualIdentity</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div id="interestsDiv" class="tab-pane fade">
                <h2>Likes and interests</h2>
                <div class="container-fluid">
                    <div class="row">
                        @{int row = 0;}

                        <div class="col-4">
                            @foreach (var interest in Model.Interests)
                            {
                                if (row % 3 == 0)
                                {
                                    <p>@interest</p>
                                }
                                row++;
                            }
                        </div>
                        @{row = 0;}
                        <div class="col-4">
                            @foreach (var interest in Model.Interests)
                            {
                                if (row % 3 == 1)
                                {
                                    <p>@interest</p>
                                }
                                row++;
                            }
                        </div>
                        @{row = 0; }
                        <div class="col-4">
                            @foreach (var interest in Model.Interests)
                            {
                                if (row % 3 == 2)
                                {
                                    <p>@interest</p>
                                }
                                row++;
                            }
                        </div>
                    </div>
                </div>

            </div>

            <div id="albumsDiv" class="tab-pane fade">
                <h2>Albums</h2>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-4">
                            @{ row = 0;}
                            @foreach (var album in Model.Album)
                            {
                                @if (row % 3 == 0)
                                {
                                    <div>
                                        <h5>@album.Name</h5>

                                        <div class="poze" data-id="@album.Id">
                                            @if (album.CoverPhoto == -1)
                                            {
                                                <img class="albumPreview" src="~/images/genericAlbumCoverPhoto.jpg" height="40" />
                                            }
                                            else
                                            {
                                                <img class="albumPreview" src="@Url.Action("Download", "Photos", new { id = album.CoverPhoto })" height="40" />
                                            }
                                        </div>
                                        <h6>@album.Count</h6>
                                    </div>
                                }
                                row++;
                            }
                        </div>
                        <div class="col-4">
                            @{ row = 0;}
                            @foreach (var album in Model.Album)
                            {
                                @if (row % 3 == 1)
                                {
                                    <div>
                                        <h5>@album.Name</h5>

                                        <div class="poze" data-id="@album.Id">
                                            @if (album.CoverPhoto == -1)
                                            {
                                                <img class="albumPreview" src="~/images/genericAlbumCoverPhoto.jpg" height="40" />
                                            }
                                            else
                                            {
                                                <img class="albumPreview" src="@Url.Action("Download", "Photos", new { id = album.CoverPhoto })" height="40" />
                                            }
                                        </div>
                                        <h6>@album.Count</h6>
                                    </div>
                                }
                                row++;
                            }
                        </div>
                        <div class="col-4">
                            @{ row = 0;}
                            @foreach (var album in Model.Album)
                            {
                                @if (row % 3 == 2)
                                {
                                    <div>
                                        <h5>@album.Name</h5>

                                        <div class="poze" data-id="@album.Id">
                                            @if (album.CoverPhoto == -1)
                                            {
                                                <img class="albumPreview" src="~/images/genericAlbumCoverPhoto.jpg" height="40" />
                                            }
                                            else
                                            {
                                                <img class="albumPreview" src="@Url.Action("Download", "Photos", new { id = album.CoverPhoto })" height="40" />
                                            }
                                        </div>
                                        <h6>@album.Count</h6>
                                    </div>
                                }
                                row++;
                            }
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

    <div id="postBody">

    </div>
    <button id="postGetter" data-user="@Model.Id" hidden="hidden">Load more posts</button>
    <script id="comment-template" type="text/x-handlebars-template">

        <div class="comment clearfix">
            <div class="imageUserComment">
                <a class="linkProfilComment" href="/Profile/Profile?userId={{userId}}">
                    {{#if profilePhoto}}
                    <img src="/Photos/Download/{{profilePhoto}}" height="50" style="float:left" />
                    {{else}}
                    <img src="/images/DefaultProfile.png" height="50" style="float:left" />
                    {{/if}}
                </a>
            </div>
            <div class="rightComment">
                <div class="profilComment">
                    <a class="linkProfilComment" href="/Profile/Profile?userId={{userId}}">
                        <p>{{userName}}</p>
                    </a>
                </div>
                <p class="commentText">{{text}}</p>
                {{#if isMine}}
                <button id="deleteComment{{id}}" class="btn buttonDeleteComment btn-danger btn-sm" data-comment="{{id}}">Delete this comment</button>
                {{else}}
                {{#if isAdmin}}
                <button id="deleteComment{{id}}" class="btn buttonDeleteComment btn-danger btn-sm" data-comment="{{id}}">Delete this comment</button>
                {{/if}}
                {{/if}}
            </div>
        </div>

    </script>


    <script id="post-template" type="text/x-handlebars-template">
        <div class="post">
            <div class="bodyPostare">
                <a class="linkProfilPostare clearfix" href="/Profile/Profile?userId={{userId}}">
                    {{#if profilePhoto}}
                    <img class="pozaProfilPostare" src="/Photos/Download/{{profilePhoto}}" height="75" />
                    {{else}}
                    <img class="pozaProfilPostare" src="/images/DefaultProfile.png" height="75" />
                    {{/if}}
                    <span>{{userName}}</span>
                </a>
            </div>
            <div class="contentPostare">
                <p>{{text}}</p>
                <div class="imagePostare">
                    {{#each photoId}}
                    <img src="/Photos/Download/{{this}}" class="imgPostare" />
                    {{/each}}
                </div>

            </div>

            <div id="commentBody{{id}}" data-toskip="0">

            </div>
            <button id="commentGetter{{id}}" class="btn btn-primary btn-sm" data-post="{{id}}">Load more comments</button>
            @if (currentUser.IsAuthenticated)
            {
                <a id="like{{id}}" data-post="{{id}}">
                    {{#if liked}}
                    <img src="/images/Liked.png" height="20" />
                    {{else}}
                    <img src="/images/notLiked.png" height="20" />
                    {{/if}}
                </a>
            }

            <p class="reactionCounter">{{noReactions}} Likes</p>
            @if (currentUser.IsAuthenticated)
            {
                <input type="text" class="addComment form-control" />
                <button id="commentAdd{{id}}" class="btn buttonComment btn-primary btn-sm" data-post="{{id}}">Comment</button>
            }

            
            {{#if isAdmin}}
            <button id="postRemove{{id}}" class="btn btn-primary buttonRemovePost btn-sm" data-post="{{id}}">Remove Post</button>
            {{/if}}
            
        </div>

    </script>
    <script src="~/js/Profile.js"></script>
    <script src="~/js/Carousel.js"></script>
}
