@model IEnumerable<ASP.NET_Core_UI.Models.DomainModels.Locality>

@{
    Layout = "~/Views/Shared/GeneralLayout.cshtml";

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.County)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="localityBody">
        @*@foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.County.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a class="needConfirmation" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }*@
    </tbody>
</table>

<script id="locality-template" type="text/x-handlebars-template">
    <tr>
        <td>
            {{name}}
        </td>
        <td>
            {{county}}
        </td>
        <td>
            <a href="/Localities/Edit/{{id}}">Edit</a> |
            <a class="needConfirmation" href="/Localities/Delete/{{id}}" >Delete</a>
        </td>

    </tr>

</script>
<button id="localityGetter">Get more localities</button>
<script src="~/js/LocalityIndex.js"></script>