@model ProfileViewerModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
}

<div>
    @if (Model.PhotoId.HasValue)
    {
    <img src="@Url.Action("Download", "Photos", new { id = Model.PhotoId })" height="60em" />
    }
    else
    {
        <img src="~/images/DefaultProfile.png" height="60em" />
    }
    @if (Model.IsRequested)
    {
        @Html.ActionLink(
      linkText: "Accept",
      actionName: "Accept",
      controllerName: "Profile",
      routeValues:
      new { id = Model.Id },
      htmlAttributes: null);

        @Html.ActionLink(
      linkText: "Refuse",
      actionName: "Refuse",
      controllerName: "Profile",
      routeValues:
      new { id = Model.Id },
      htmlAttributes: null);
    }
    @if (Model.CanSendRequest)
    {
        @Html.ActionLink(
            linkText: "Send Friend Request",
            actionName: "Send",
            controllerName: "Profile",
            routeValues:
            new { id = Model.Id },
            htmlAttributes: null);
    }


</div>





    <div>
        <h2>Contact information</h2>

        <h5>First Name  &nbsp;&nbsp; @Model.Name</h5>
        <h5>Last Name  &nbsp;&nbsp; @Model.Surname</h5>
        <h5>Birthday  &nbsp;&nbsp; @Model.Birthday.Year .@Model.Birthday.Month . @Model.Birthday.Day</h5>
        @if (Model.Locality != null)
        {
            <h5>Locality  &nbsp;&nbsp; @Model.Locality</h5>
            <h5>County  &nbsp;&nbsp; @Model.County</h5>
        }
        <h5>Gender  &nbsp;&nbsp; @Model.SexualIdentity</h5>
    </div>

    <div>
        <h2>Likes and interests</h2>
        @foreach (var interest in Model.Interests)
        {
            <p>@interest</p>
        }

    </div>

    <div>
        <h2>Albums</h2>
        @foreach (var album in Model.Album)
        {
            <div>
                <h5>@album.Name</h5>
                <h6>@album.Count</h6>
                <a class="needConfirmation" href="@Url.Action("DeleteAlbum","Users",new {userId=Model.Id,albumId=album.Id })">Delete this album</a>
                <a href="@Url.Action("Album", "Users", new {albumId=album.Id})">
                    @if (album.CoverPhoto!=-1)
                    {
                        <img src="@Url.Action("Download", "Photos", new {id=album.CoverPhoto})" heigth="40em"/>
                    }
                    else
                    {
                        <img src="~/images/genericAlbumCoverPhoto.jpg" height="40em"/>
                    }
                </a>
            </div>
        }

    </div>
