@model ProfileViewerModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
}

<div>
    <div>


        @if (Model.PhotoId.HasValue)
        {
            <a href="@Url.Action("Download", "Photos", new { id = Model.PhotoId })" data-lightbox="pozaprofil">
                <img src="@Url.Action("Download", "Photos", new { id = Model.PhotoId })" height="100" />
            </a>
        }
        else
        {
            <a href="/images/DefaultProfile.png" data-lightbox="pozaprofil">
                <img src="/images/DefaultProfile.png" height="100" />
            </a>
        }

    </div>
    @if (Model.IsRequested)
    {
        @Html.ActionLink(
      linkText: "Accept",
      actionName: "Accept",
      controllerName: "Profile",
      routeValues:
      new { id = Model.Id },
      htmlAttributes: null);

        @Html.ActionLink(
      linkText: "Refuse",
      actionName: "Refuse",
      controllerName: "Profile",
      routeValues:
      new { id = Model.Id },
      htmlAttributes: null);
    }
    @if (Model.CanSendRequest)
    {
        @Html.ActionLink(
            linkText: "Send Friend Request",
            actionName: "Send",
            controllerName: "Profile",
            routeValues:
            new { id = Model.Id },
            htmlAttributes: null);
    }


</div>

<div class="container profileInfo">
    <ul class="nav nav-tabs nav-justified infoTabs" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#contactDiv">Contact Information </a> </li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#interestsDiv">Likes and Interests</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#albumsDiv">Albums</a></li>
    </ul>

    <div class="tab-content">

        <div id="contactDiv" class=" tab-pane fade show active">
            <table class="contactTable">
                <tr>
                    <td>
                        First Name
                    </td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td>Surname</td>
                    <td>@Model.Surname</td>
                </tr>
                <tr>
                    <td>Birthday</td>
                    <td>@Model.Birthday</td>
                </tr>
                @if (Model.Locality != null)
                {
                    <tr>
                        <td>County</td>
                        <td>@Model.County</td>
                    </tr>
                    <tr>
                        <td>Locality</td>
                        <td>@Model.Locality</td>
                    </tr>
                }
                <tr>
                    <td>Gender</td>
                    <td>
                        @{
                            var sex = "";
                            switch (Model.SexualIdentity)
                            {
                                case "masculin":
                                    sex = "Man";
                                    break;
                                case "feminin":
                                    sex = "Woman";
                                    break;
                                case "nespecificat":
                                    sex = "Unspecified";
                                    break;


                            }
                        } @sex
                    </td>
                </tr>
            </table>
        </div>

        <div id="interestsDiv" class="tab-pane fade">
            
            <div class="container-fluid">
                <div class="row">
                    @{int row = 0;}

                    <div class="col-4">
                        @foreach (var interest in Model.Interests)
                        {
                            if (row % 3 == 0)
                            {
                                <p>@interest</p>
                            }
                            row++;
                        }
                    </div>
                    @{row = 0;}
                    <div class="col-4">
                        @foreach (var interest in Model.Interests)
                        {
                            if (row % 3 == 1)
                            {
                                <p>@interest</p>
                            }
                            row++;
                        }
                    </div>
                    @{row = 0; }
                    <div class="col-4">
                        @foreach (var interest in Model.Interests)
                        {
                            if (row % 3 == 2)
                            {
                                <p>@interest</p>
                            }
                            row++;
                        }
                    </div>
                </div>
            </div>

        </div>

        <div id="albumsDiv" class="tab-pane fade">
            
            
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4">
                        @{ row = 0;}
                        @foreach (var album in Model.Album)
                        {
                            @if (row % 3 == 0)
                            {
                        <div class="albumProfilPreview">

                            <div class="poze" data-id="@album.Id">
                                @if (album.CoverPhoto == -1)
                                {
                                    <a><img src="~/images/genericAlbumCoverPhoto.jpg" class="albumPreview" /></a>
                                }
                                else
                                {
                                    <img src="@Url.Action("Download", "Photos", new { id = album.CoverPhoto })" class="albumPreview" />
                                }
                            </div>
                            <h5 class="albumName">@album.Name</h5>
                            <h6 class="albumCounter">
                                @album.Count
                                @if (album.Count != 1)
                                {
                                    <span>Photos</span>
                                }
                                else
                                {
                                    <span>Photo</span>
                                }
                            </h6>
                        </div>
                            }
                            row++;
                        }
                    </div>
                    <div class="col-4">
                        @{ row = 0;}
                        @foreach (var album in Model.Album)
                        {
                            @if (row % 3 == 1)
                            {
                        <div class="albumProfilPreview">

                            <div class="poze" data-id="@album.Id">
                                @if (album.CoverPhoto == -1)
                                {
                                    <a><img src="~/images/genericAlbumCoverPhoto.jpg" class="albumPreview" /></a>
                                }
                                else
                                {
                                    <img src="@Url.Action("Download", "Photos", new { id = album.CoverPhoto })" class="albumPreview" />
                                }
                            </div>
                            <h5 class="albumName">@album.Name</h5>
                            <h6 class="albumCounter">
                                @album.Count
                                @if (album.Count != 1)
                                {
                                    <span>Photos</span>
                                }
                                else
                                {
                                    <span>Photo</span>
                                }
                            </h6>
                        </div>
                            }
                            row++;
                        }
                    </div>
                    <div class="col-4">
                        @{ row = 0;}
                        @foreach (var album in Model.Album)
                        {
                            @if (row % 3 == 2)
                            {
                        <div class="albumProfilPreview">

                            <div class="poze" data-id="@album.Id">
                                @if (album.CoverPhoto == -1)
                                {
                                    <a><img src="~/images/genericAlbumCoverPhoto.jpg" class="albumPreview" /></a>
                                }
                                else
                                {
                                    <img src="@Url.Action("Download", "Photos", new { id = album.CoverPhoto })" class="albumPreview" />
                                }
                            </div>
                            <h5 class="albumName">@album.Name</h5>
                            <h6 class="albumCounter">
                                @album.Count
                                @if (album.Count != 1)
                                {
                                    <span>Photos</span>
                                }
                                else
                                {
                                    <span>Photo</span>
                                }
                            </h6>
                        </div>
                            }
                            row++;
                        }
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

<div id="postBody">

</div>
<button id="postGetter" data-user="@Model.Id" hidden="hidden">Load more posts</button>
<script id="comment-template" type="text/x-handlebars-template">

    <div class="comment clearfix">
        <div class="imageUserComment">
            <a class="linkProfilComment" href="/Profile/Profile?userId={{userId}}">
                {{#if profilePhoto}}
                <img src="/Photos/Download/{{profilePhoto}}" height="50" style="float:left" />
                {{else}}
                <img src="/images/DefaultProfile.png" height="50" style="float:left" />
                {{/if}}
            </a>
        </div>
        <div class="rightComment">
            <div class="profilComment">
                <a class="linkProfilComment" href="/Profile/Profile?userId={{userId}}">
                    <p>{{userName}}</p>
                </a>
            </div>
            <p class="commentText">{{text}}</p>
            
            <button id="deleteComment{{id}}" class="btn buttonDeleteComment btn-danger btn-sm" data-comment="{{id}}">Delete this comment</button>
           
        </div>
    </div>

</script>


<script id="post-template" type="text/x-handlebars-template">
    <div class="post">
        <div class="bodyPostare">
            <a class="linkProfilPostare clearfix" href="/Profile/Profile?userId={{userId}}">
                {{#if profilePhoto}}
                <img class="pozaProfilPostare" src="/Photos/Download/{{profilePhoto}}" height="75" />
                {{else}}
                <img class="pozaProfilPostare" src="/images/DefaultProfile.png" height="75" />
                {{/if}}
                <span>{{userName}}</span>
            </a>
        </div>
        <div class="contentPostare">
            <p>{{text}}</p>
            <div class="imagePostare">
                {{#each photoId}}
                <img src="/Photos/Download/{{this}}" class="imgPostare" />
                {{/each}}
            </div>

        </div>

        <div id="commentBody{{id}}" data-toskip="0">

        </div>
        <button id="commentGetter{{id}}" class="btn btn-primary btn-sm" data-post="{{id}}">Load more comments</button>
        
        <div class="reaction">

            @if (currentUser.IsAuthenticated)
            {
                <a class="like" id="like{{id}}" data-post="{{id}}">
                    {{#if liked}}
                    <img src="/images/Liked.png" height="20" />
                    {{else}}
                    <img src="/images/notLiked.png" height="20" />
                    {{/if}}
                </a>
            }
            <p class="reactionCounter">{{noReactions}} Likes</p>

        </div>
        
            <input type="text" class="addComment form-control" />
            <button id="commentAdd{{id}}" class="btn buttonComment btn-primary btn-sm" data-post="{{id}}">Comment</button>
        

       
        <button id="postRemove{{id}}" class="btn  btn-danger buttonRemovePost btn-sm" data-post="{{id}}">Remove Post</button>
        
    </div>

</script>
<script src="~/js/Profile.js"></script>
<script src="~/js/Carousel.js"></script>

