@model IEnumerable<UserIndex>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Profile Photo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @if (item.ProfilePhoto.HasValue)
                {
                <img src="@Url.Action("Download", "Photos", new { id = item.ProfilePhoto })" height="40em"/>
                }
                else
                {
                    <img src="~/images/DefaultProfile.png" height="40em"/>
                }
            </td>
            <td>
                @Html.ActionLink("Edit","Edit","Users",new {userId=item.Id }) |
                @Html.ActionLink("Details","Details","Users",new {userId=item.Id }) |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
