@model CommentModel
<div class="comment">
    <div class="profilComment">
        <a class="linkProfilComment" href="@Url.Action("Profile","Profile",new {userId=Model.User.Id })" >
            <p>@Model.User.Name</p>
            @if (Model.User.ProfilePhoto != null)
            {
                <img src="@Url.Action("Download", "Photos", new { id = Model.User.ProfilePhoto })" height="50em" style="float:left" />
            }
            else
            {
                <img src="~/images/DefaultProfile.png" height="50em" style="float:left" />
            }
        </a>
    </div>
    <p>@Model.Text</p>
    
    @if (Model.User.Id == currentUser.Id)
    {
        <button class="btn buttonDeleteComment btn-danger btn-sm" data-comment="@Model.Id">Delete this comment</button>
    }

</div>